<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="CSS/Styles.css">
  <script defer src="static/JS/jsCode.js"></script>
  <script defer src="static/JS/DashboardJS.js"></script>

</head>

<body class="scene_element scene_element--fadein">
  <section class="top-section">
    <div>
      <h1 class="h1-header">Profile</h1>
    </div>
    <div class="top-right-box">
      <button class="out-button log-out">Log Out</button>
    </div>
  </section>

  <div class="Investor-type">
    <h4 class="h4-header">Investor Type:</h4>
    <h5 class="h5-header">Aggressive</h5>
    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange" readonly="readonly" >
    </div>
    <h5 class="h5-header">conservative</h5>
  </div>

  <div>
    <h4 class="h4-header">Recommended Stocks</h4>
  </div>
  <div style="overflow-x: auto;">
    <table>
      <tr>
        <th>Stock</th>
        <th>6 Months</th>
        <th>12 Months</th>
        <th>24 Months</th>
        <th>Volatility Index</th>
        <th>AVG Dividend</th>
      </tr>
      <tr class = "scene_element scene_element--fadeinup">
        <td><a href="https://finance.yahoo.com/quote/TSLA/" target="_blank">TSLA</a></td>
        <td>+8%</td>
        <td>+64%</td>
        <td>+112%</td>
        <td>8</td>
        <td>0$</td>
      </tr>
      <tr class = "scene_element scene_element--fadeinup scene_delay">
        <td><a href="https://finance.yahoo.com/quote/AAPL/" target="_blank">AAPL</a></td>
        <td>+1%</td>
        <td>+12%</td>
        <td>+60%</td>
        <td>5</td>
        <td>0$</td>
      </tr>
      <tr class = "scene_element scene_element--fadeinup scene_delay_double">
        <td><a href="https://finance.yahoo.com/quote/MSFT/" target="_blank">MSFT</a></td>
        <td>+7%</td>
        <td>-16%</td>
        <td>-12%</td>
        <td>4</td>
        <td>16$</td>
      </tr>
    </table>
  </div>
</body>

</html>