<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CSS/Styles.css">
    <script defer src="file:///C:/Users/user/Documents/WEB/WEB_204733182/static/JS/jsCode.js"></script>
    <script defer src="file:///C:/Users/user/Documents/WEB/WEB_204733182/static/JS/FormsJS.js"></script>  
</head>

<body>
    <section class="top-section">
        <h1 class="h1-header">Bringing you <strong> smart investing solutions </strong></h1>
    </section>
    <section class="middle-section container">
        <button class="big-button-mirror" id="go-to-sign-ip"></button>> Sign In</button>
        <br>
        <button class="button-small-link" id="go-to-sign-up"></button>> Sign up</button>
    </section>
    <div class="bottom-text">
        <h4 class="h4-header">Sign up and fill in the questionnaire to receive your investment profile and recommended
            stocks</h4>
    </div>

</body>

</html>