<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/CSS/Styles.css">
  <script defer src="file:///C:/Users/user/Documents/WEB/WEB_204733182/static/JS/jsCode.js"></script>
  <script defer src="file:///C:/Users/user/Documents/WEB/WEB_204733182/static/JS/questionPageJS.js"></script></head>

<body>
  <h3 class="h3-header">Question 4 of 5</h1>
    <div class="question-background">
      <h2 class="h2-header smaller-text">How much do you agree with the following sentence?
      </h2>
      <h2 class="h2-header smaller-text">“I prefer a higher risk investment with a higher reward potential”

      </h2>
      <div class="questions">
        <button class="medium-button button-question-4 scene_element scene_element--fadeinup">Not at all</button>
        <button class="medium-button button-question-4 scene_element scene_element--fadeinup">Somewhat agree</button>
        <button class="medium-button button-question-4 scene_element scene_element--fadeinup">Agree</button>
        <button class="medium-button button-question-4 scene_element scene_element--fadeinup">Very much agree</button>
      </div>
      <div class="bottom-right-box">
        <button class="next-button">Next Question</button>
      </div>
    </div>
    <button class="out-button">Previous Question</button>
</body>

</html>