<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/CSS/Styles.css">
  <script defer src="file:///C:/Users/user/Documents/WEB/WEB_204733182/static/JS/jsCode.js"></script>
  <script defer src="file:///C:/Users/user/Documents/WEB/WEB_204733182/static/JS/questionPageJS.js"></script>
</head>

<body class="scene_element scene_element--fadein">
  <h3 class="h3-header">Question 2 of 5</h1>
    <div class="question-background">
      <h2 class="h2-header">Choose your age</h2>
      <div class="questions">
        <button class="medium-button scene_element scene_element--fadeinup">18 - 29</button>
        <button class="medium-button scene_element scene_element--fadeinup">30 - 44</button>
        <button class="medium-button scene_element scene_element--fadeinup">45 - 65</button>
        <button class="medium-button scene_element scene_element--fadeinup">65+</button>
      </div>
      <div class="bottom-right-box">
        <button class="next-button">Next Question</button>
      </div>
    </div>
    <button class="out-button">Previous Question</button>
</body>

</html>