<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/CSS/Styles.css">
  <script defer src="file:///C:/Users/user/Documents/WEB/WEB_204733182/static/JS/jsCode.js"></script>
</head>

<body class="scene_element scene_element--fadein">
  <section class=top-section>
    <h1 class="h1-header">Profile</h1>
    <div class="top-right-box">
      <button class="out-button log-out">Log Out</button>
    </div>
  </section>
  <div class="question-background">
    <h2 class="h2-header">Fill in the questionnaire to get stock recommendations</h2>
    <button class="big-button-mirror" id="start-questions">Start Questionnaire</button>
  </div>
</body>

</html>