doctype html
head
  meta(charset='UTF-8')
  title Title
  link(rel='stylesheet' href='CSS/Styles.css')
  script(src='JS/jsCode.js', defer)
  script(src='JS/FormsJS.js', defer)
h1.h1-header
  | Bringing you 
  strong  smart investing solutions 
button#go-to-sign-in.big-button-mirror Sign In
br
button#go-to-sign-up.button-small-link Sign up
.bottom-text
  h4.h4-header
    | Sign up and fill in the questionnaire to receive your investment profile and recommended
    | stocks
