<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="CSS/Styles.css">
    <script defer src="JS/jsCode.js"></script>
    <script defer src="JS/FormsJS.js"></script>
</head>

<body class="scene_element scene_element--fadein">
    <h1 class="h1-header">Bringing you <strong> smart investing solutions </strong></h1>
    <button class="big-button-mirror" id="go-to-sign-in">Sign In</button>
    <br>
    <button class="button-small-link" id="go-to-sign-up">Sign up</button>
    <div class="bottom-text">
        <h4 class="h4-header">Sign up and fill in the questionnaire to receive your investment profile and recommended
            stocks</h4>
    </div>

</body>

</html>