doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Title
    link(rel='stylesheet', href='CSS/Styles.css')
    script(src='JS/jsCode.js', defer)
    script(src='JS/questionPageJS.js', defer)
  body
    h3.h3-header Question 5 of 5
    .question-background
      h2.h2-header.smaller-text
        | If your portfolio drops by 20% what would you rather do?
      .questions
        button.medium-button.button-question-4.scene_element.scene_element--fadeinup Sell all assets
        button.medium-button.button-question-4.scene_element.scene_element--fadeinup sell some assets
        button.medium-button.button-question-4.scene_element.scene_element--fadeinup Do nothing
        button.medium-button.button-question-4.scene_element.scene_element--fadeinup Invest more
      .bottom-right-box
        button#submitButton.next-button Complete
    button.out-button Previous Question