doctype html
head
  meta(charset='UTF-8')
  title #{page_title}
  link(rel='stylesheet' href='CSS/Styles.css')
  script(src='JS/FormsJS.js', defer)
  
h1.h1-header Bringing you smart investing solutions
  h5.h5-header #{message}
  a(href="/SignIn")
    button(type="button", class="big-button-mirror") Sign In
  br
  a(href="/SignUp")
    button(type="button", class="button-small-link") Sign up
br
.bottom-text
  h4.h4-header
    | Sign up and fill in the questionnaire to receive your investment profile and recommended
    | stocks
