doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{page_title}
    link(rel='stylesheet', href='/CSS/Styles.css')

  body
    h3.h3-header Question 5 of 5
    .question-background
      h2.h2-header.smaller-text
        | If your portfolio drops by 20% what would you rather do?
      form(action="/userQuestion5", method="get")
        select(name="q5_res", id="q5_res", required="required")
          option(value=1) Sell all assets
          option(value=2) sell some assets
          option(value=3) Do nothing
          option(value=4) Invest more
        button(type="submit", class="next-button") Complete 
      br
      a(href="/Question4")
        button(type="button", class="out-button") Previous Question
