doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{page_title}
    link(rel='stylesheet', href='/CSS/Styles.css')
    script(src='/JS/jsCode.js', defer)
  body.scene_element.scene_element--fadein
    section.top-section
      h1.h1-header #{memberName} Profile
      .top-right-box
        button.out-button.log-out Log Out
    .question-background
      h2.h2-header Fill in the questionnaire to get stock recommendations
      a(href="/Question1")
        button(type="button", class="big-button-mirror") Start Questionnaire